{% extends base.html %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
{% include "base/less_headers/login_less.html" %}
{% endblock extra_css %}

{% block content %}

<script id="entry-template" type="text/template">
    {% include "partials/login/entry_base.html" %}
</script>
<script id="login-template" type="text/template">
    {% include "partials/login/login_base.html" %}
</script>
<script id="register-template" type="text/template">
    {% include "partials/login/register_base.html" %}
</script>

<div id="login"></div>

{% endblock content %}

{% block extra_js %}

<script type="text/javascript" src="{% static "js/login.js" %}"></script>
<script type="text/javascript">
    // TODO: Var to initialize to register if routed,
    // TODO: pre-fil variable if routed from verification page
    var loginView = new cw.LoginView();
</script>

{% endblock extra_js %}


